@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Fira Sans", serif; */

.full-bg{
    background-color: #F5F5F5;
}

/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-title{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
.nav-btn{
    list-style: none;
}
.btn-pri{
    font-family: "Fira Sans", serif;
    background-color: #F5F5F5;
    font-weight: bold;
    font-size: 20px;
    color: #006A50;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    cursor: pointer;
    box-sizing: border-box;
}
/* header */
header{
    max-width: 1280px;
    margin: 0 auto;
}
/* first page style */
.first-page{
    display: flex;
    justify-content: space-around;
    background-color: #C6E4D6;
    padding: 100px 80px;
    border-radius: 24px;
    margin-top: 20px;
    margin-bottom: 80px;
}
.first-page-p{
    font-family: "Fira Sans", serif;
    color: #0E0E0E80;
    font-weight: 500;
    font-size: 24px;

}

.first-page-h{
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
    font-weight: 700;
    font-size: 56px;
}
.first-page-btn{
    font-family: "Fira Sans", serif;
    background-color: #006A50;
    font-weight: bold;
    font-size: 18px;
    color:#FFFFFF;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

/* main section style */

main{
    max-width: 1280px;
    margin: 0 auto;
}
/* page 2 style */
.main-2-box{
    display: flex;
    gap: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.main-2-h{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
}
.main-2-p{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
    margin-top: 24px;
}
.main-2-subbox-1{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: #5490F533;
}

.main-2-subbox-2{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: #C6E4D6;
}
.main-2-subbox-3{
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background: #F7EBCF;
}    

.main-2-subbox-h{
    font-family: "Fira Sans", serif;
    color: #0E0E0ECC;
    font-weight: 700;
    font-size: 20px;

}
.main-2-subbox-p{
    font-family: "Fira Sans", serif;
    color: #0E0E0EB3;
    font-weight: 400;
    font-size: 16px;
}

.main-2-btn-1{
    font-family: "Fira Sans", serif;
    background-color: #5490F5;
    font-weight: 600;
    font-size: 16px;
    color:#FFFFFF;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}
.main-2-btn-2{
    font-family: "Fira Sans", serif;
    background-color: #09A15C;
    font-weight: 600;
    font-size: 16px;
    color:#FFFFFF;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;    
}
.main-2-btn-3{
    font-family: "Fira Sans", serif;
    background-color: #FFC239;
    font-weight: 600;
    font-size: 16px;
    color:#FFFFFF;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-sizing: border-box; 
}

/* Dr. Muhammad Yunus page */
.yunus-page{
    padding: 48px 24px 48px 24px;
    box-sizing: border-box;
    border-radius: 16px;
    background: #FFFFFF;
    border: 100;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 26px 35px ;
    margin-bottom: 80px;


}
.yunus-h{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 20px;
    color: #0E0E0ECC;
    margin-bottom: 4px;
    margin-top: 12px;
}

/* Recent News */

.recent-h{
    font-family: "Fira Sans", serif;
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700;
}
.recent-p{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
}

.recent-box-1{
    display: flex;
    gap: 32px;
    padding: 48px 24px 48px 24px;
    box-sizing: border-box;
    border-radius: 24px;
    background: #FFFFFF;
    border: 100;

}
.time{
    display: flex;
    gap: 12px;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    color: #0E0E0EB3;
}
.recent-box-h{
    color: #0E0E0ECC;
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}
.recent-box-p{
    color: #0E0E0EB3;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 12px;
}
.satelite-img{
    border-radius: 24px;
}
.resent-box-btn{
    font-family: "Fira Sans", serif;
    background-color:#006A50;
    font-weight: 600;
    font-size: 18px;
    color:#FFFFFF;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}
.box-gap{
    margin-top: 24px;
    margin-bottom: 24px;
}

/* hover style */
.hover-btn:hover{
    background-color: #e62121;
}

/* donate style */

.donate{
    text-align: center;
}
.donate-box{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    margin-top: 32px;
    margin-bottom: 32px;
    
}

.donate-box-taka{
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 16px;
    background: #ffffff;
    
}
.donate-box-taka-color{
    text-align: center;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 16px;
    background: #C6E4D6
}
.donate-h{
    color: #0E0E0E;
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 24px;
}
.donate-p{
    color: #0E0E0EB3;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
}
.taka{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-size: 40px;
    padding: 0px 40px;
}

.input-taka{
    padding: 0 40px 0 40px;
    width: 1120px;
    height: 64px;
    border: none;
    text-align: center;
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}
/* Subscribe style */
.Subscribe{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 48px 24px 48px 24px;
    box-sizing: border-box;
    border-radius: 16px;
    background: #C6E4D6;
    border: 100;
}
.Subscribe-h{
    color: #0E0E0E;
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;

}
.Subscribe-p{
    color: #0E0E0EB3;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.Subscribe-p-mini{
    color: #0E0E0EB3;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 25px;
}
.email-sub{
    display: flex;
    justify-content: center; 
}

.email{
    width: 600px;
    height: 55px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    text-align: center;
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 1;
    color: #0E0E0E4D;
}
.Subscribe-btn{
    font-family: "Fira Sans", serif;
    background-color:#006A50;
    font-weight: 600;
    font-size: 18px;
    color:#FFFFFF;
    padding: 17px 34px 17px 34px;
    border-radius: 0px 8px 8px 0px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}
