@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Fira Sans", serif; */

/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 31px 160px;
}

.nav-title{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
.nav-btn{
    list-style: none;
}
.btn-pri{
    font-family: "Fira Sans", serif;
    background-color: #F5F5F5;
    font-weight: bold;
    font-size: 20px;
    color: #006A50;
    padding: 15px 30px 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    cursor: pointer;
    box-sizing: border-box;
}